@import "./Variables.scss";


.banner {
    margin-top: 0;
    padding: 14% 5%;

}

.content{
    justify-content: flex-start;
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    justify-content: flex-start;
    text-align: start;
    padding: 2rem 0;
}

.banner button {
    
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 500;
    border-radius: 1rem;
    height: 3rem;
    width: 15rem;
    display: inline;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.8px;
    font-size: 25px;


}



.arrow{
    margin-left: 3px;
    
}

.arrow:hover{
    margin-left: 15px;
    transition: 0.5s;
}

.banner img {
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}



.header-img {
    width: 50%;
    border-radius: 50%;
}