@import "./Variables.scss";

.navbar {
  width: 100%;
  top: 10px;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  padding: 0 2%;
  background-color: $gray ;

}





.brand img {
  background-color: $white;
  border-radius: 50%;

}




.brand img:hover {
  animation: circle 5s infinite;
}

.social-icon {
  display: inline-flex;
  margin-left: 14px;
}

.social-icon a {
  width: 3rem;
  height: 3rem;
  background: transparent;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 2px solid $white;
  transition: 0.3s ease-in;
  color: #fff;
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  color: #fff;
  position: absolute;
  background-color: $white;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in;
  color: $white;
}

.social-icon a:hover{
  background-color: $white;
  
}

.icon{
  width: 70%;
  height: 70%;
  color: $white; 
}
.icon:hover{
  color: $gray;
}


.navbar-text button {
  font-weight: 500;
  color: #fff;
  border: 2px solid $white;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 18px;
  margin-left: 20px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  font-weight: 500;
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: $white;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: $gray;
  background-color: #fff;
}

.navbar-text button:hover::before {
  width: 100%;
  border-radius: 1rem;
}




nav.navbar .navbar-nav .nav-link.navbar-link,
.nav-link.active-navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  font-size: 18px;
  opacity: 0.75;
  margin-left: 2rem;

}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
a.nav-link.active-navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}


.me-auto {
  column-gap: 10px;
  outline: none;
}


@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}